<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountToken</key>
	<data>
	ewoJIkludGVybmF0aW9uYWxNb2JpbGVFcXVpcG1lbnRJZGVudGl0eSIgPSAiMzU4MzY2
	MDY4NTI2NzI1IjsKCSJNb2JpbGVFcXVpcG1lbnRJZGVudGlmaWVyIiA9ICIzNTgzNjYw
	Njg1MjY3MiI7CgkiU2VyaWFsTnVtYmVyIiA9ICJETlBQNTdHTUc1TVQiOwoJIkludGVy
	bmF0aW9uYWxNb2JpbGVTdWJzY3JpYmVySWRlbnRpdHkiID0gIiI7CgkiUHJvZHVjdFR5
	cGUiID0gImlQaG9uZTcsMiI7CgkiVW5pcXVlRGV2aWNlSUQiID0gIjI0MTdmMTI1Nzdk
	Mzc3NGUyYzBmOTdjOWRkODEwOTczZWIzMzlmNjAiOwoJIkFjdGl2YXRpb25SYW5kb21u
	ZXNzIiA9ICJGOEVBMzA5RS1BQkI3LTRDMjMtQTUzRC0yNzVCRkREMzJDMzciOwoJIkFj
	dGl2aXR5VVJMIiA9ICJodHRwczovL2FsYmVydC5hcHBsZS5jb20vZGV2aWNlc2Vydmlj
	ZXMvYWN0aXZpdHkiOwoJIkludGVncmF0ZWRDaXJjdWl0Q2FyZElkZW50aXR5IiA9ICIi
	OwoJIkNlcnRpZmljYXRlVVJMIiA9ICJodHRwczovL2FsYmVydC5hcHBsZS5jb20vZGV2
	aWNlc2VydmljZXMvY2VydGlmeU1lIjsKCSJQaG9uZU51bWJlck5vdGlmaWNhdGlvblVS
	TCIgPSAiaHR0cHM6Ly9hbGJlcnQuYXBwbGUuY29tL2RldmljZXNlcnZpY2VzL3Bob25l
	SG9tZSI7CgkiV2lsZGNhcmRUaWNrZXQiID0gIk1JSUJsUUlCQVRBTEJna3Foa2lHOXcw
	QkFRVXhZSjhCQ3NyWmV1ZlFBVGhJRzhBbjBzVWZGenpVbWZEMUFDNzdBOUxkSEQrMmZU
	elFycWZoMjBIQVRseUFCS1dacCtYUFF3QUFBQUE3dTd1N3U3dTd1K2ZsejRFQUFBQUFK
	K1hQd1FCQUFBQW41ZEFCQUVBQUFDZmwwd0VBQUFBQUFTQmdES0xUdllFZ242d3dJbUs3
	NHlIanNhT21iS3BPd3pLK3pNKzdJcTB1L2o2MDEveWVVcXJvTzAzNTJ2OE5wRUE4NHlX
	aXZUWlNzbFVQcHA4cm92Rnd2Q2lRN2tzdy8rNkdLK2FYY29jT3pGbk81QnVnYWovdk5v
	NVBrQjRrVW5lTWs5WFgwVzBuaXVSVkpkVkovYkhad2tjbXJGN2h0eXlhd1I5amQ0bjRY
	Q2FvNEdkTUFzR0NTcUdTSWIzRFFFQkFRT0JqUUF3Z1lrQ2dZRUE3VG8vWk5Ib0lKekJV
	Z1kwNzM0dnNnbCtBQ3hEUStmNHF1dm1TclBBdGdERU5TWndhVnJIWHBGK2NSS0JBQnFr
	RGEwMFljRU54MmR0UzF0dUhMS0RObjF6TVpMYVpScGlLOVVlaU1QTlpMNm1sZzEyQldM
	d1ZqbEZPR0VEOFU2cGZYd093NkQvRkNEUmd2eUdCbjd3c3c4c0VhN0FkbFltTUhHbWt2
	d2dPUDBDQXdFQUFRPT0iOwp9
	</data>
	<key>AccountTokenCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN4VENDQWEwQ0FoQUdNQTBHQ1Nx
	R1NJYjNEUUVCQlFVQU1Ia3hMVEFyQmdOVkJBTU1KRUZ3Y0d4bElHbFEKYUc5dVpTQkRa
	WEowYVdacFkyRjBhVzl1SUVGMWRHaHZjbWwwZVRFTE1Ba0dBMVVFQmhNQ1ZWTXhFekFS
	QmdOVgpCQW9NQ2tGd2NHeGxJRWx1WXk0eEpqQWtCZ05WQkFzTUhVRndjR3hsSUVObGNu
	UnBabWxqWVhScGIyNGdRWFYwCmFHOXlhWFI1TUI0WERUQTNNRFF4TmpJeU5UVXpNRm9Y
	RFRFME1EUXhOakl5TlRVek1Gb3dXekVnTUI0R0ExVUUKQXd3WFFYQndiR1VnYVZCb2Iy
	NWxJRUZqZEdsMllYUnBiMjR4Q3pBSkJnTlZCQVlUQWxWVE1STXdFUVlEVlFRSwpEQXBC
	Y0hCc1pTQkpibU11TVJVd0V3WURWUVFMREF4QmNIQnNaU0JwVUdodmJtVXdnWjh3RFFZ
	SktvWklodmNOCkFRRUJCUUFEZ1kwQU1JR0pBb0dCQUswTEY5ZUg5dFVtOTk5czBTRURp
	RVI3QlhsbVF5amFnaUxnbE1PWVEvb3YKaUJsZldPeWpRU2piVkszUHVLZTBRU1VjOFVO
	d2dneXgxWG5tUWdwQVRSQU9RU0dtbWlRTFZRN2NQVFhEQURnOAp4TldTYmpob2JVNUt0
	T20xZWtDVVhDRk1ITy9yekd4SjZVQXRsT0hOTEh2cHNDZ3grZnVEVG42NUxBYzhCeVB6
	CkFnTUJBQUV3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUVVZ0FWaG9QN0UxZElNY1ox
	alJoTEM5bTVMZUM2YlcKVkRKTjRoMjI3dTdtY1NsVmd2c2tJb0VGOWRlK1IwMHMwZGdH
	R0szMmNvSk13WWkxMTQ1aXVucWMvV1FtZjZmNwpneDdSTmZoYjh5ZHVQV1ZOTGhKRm4v
	eTczRmlLZHE4V2RvdjJEYXlobVRwZUtVMjd0UzNiOFRtTHpjTXBUNUJGCkhMTTVEc1Rr
	QVc1bmFSZlRvUU85N2ZwbGx3azh5ajVsYU9GNnN4QjlKRTB6NytKWWdMSndDenRTS2RL
	K3dXMm4KZFhjemhIMFRySDBWZEJVVnpqSGR4YnpUa0FCWXFRRGdYRlV2dndUMUxDeFF6
	cmhuMUxSVkF1c0RtRGxXRVJkYgphaHdlRmRhY2dQSVJzelBDd2xTbGgvd0lnZ2RqdVRq
	YUR1Y2srcWhGemNacHc3Z0FiQytwaHZvPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0t
	</data>
	<key>AccountTokenSignature</key>
	<data>
	oIXhr4L5NIHAAv8k3ZYWtVRKg6Kp/vtlSbI3lQQq9b6bL7kNTlRVPwfleXfK9bZRsTbw
	qo7FKxcBKFv6EooY/S+V7RNagh8ZlZQZkcvK0Ddtie6GY+QzgxJfMstFmlJ8nPKQeGyS
	vU1wwFbbvYXf6Ow8TZur3WYSge+7shp+O8U=
	</data>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4akNDQWx1Z0F3SUJBZ0lKVTlE
	eVdEQUlrV0pjTUEwR0NTcUdTSWIzRFFFQkJRVUFNRm94Q3pBSkJnTlYKQkFZVEFsVlRN
	Uk13RVFZRFZRUUtFd3BCY0hCc1pTQkpibU11TVJVd0V3WURWUVFMRXd4QmNIQnNaU0Jw
	VUdodgpibVV4SHpBZEJnTlZCQU1URmtGd2NHeGxJR2xRYUc5dVpTQkVaWFpwWTJVZ1Ew
	RXdIaGNOTWpBd016STVNRGd6Ck9UVXpXaGNOTWpNd016STVNRGd6T1RVeldqQ0JnekV0
	TUNzR0ExVUVBeFlrUVRnelJFUkROakV0TUVFME5DMDAKUkRNeExVRXlSREl0TmtaRE5V
	SXlPVGhCUWtRMU1Rc3dDUVlEVlFRR0V3SlZVekVMTUFrR0ExVUVDQk1DUTBFeApFakFR
	QmdOVkJBY1RDVU4xY0dWeWRHbHViekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpF
	UE1BMEdBMVVFCkN4TUdhVkJvYjI1bE1JR2ZNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0R05B
	RENCaVFLQmdRRG5sbS96RitETUhQMUQKOEt3VlFKYkVYajhTU0NjWnhSREsrU1NSdytl
	UnVramd5VGZBd3pqa0poVjJ0YVNWbWdnVDVKWUVBWUdlaXFCcQovajdTV1lWL0ZVK3oz
	c3lEQTRhMlBMRjdSNFZyVXluOW9xRzg5ajdRS2pON2hpZnp3Y1lFWmhlWmV3bzZoTkVO
	ClRsVFlFK2RGZDVhOXgwbHhSQjFELzVXcnJtSGxaUUlEQVFBQm80R1ZNSUdTTUI4R0Ex
	VWRJd1FZTUJhQUZMTCsKSVNORWhwVnFlZFdCSm81ekVOaW5USTUwTUIwR0ExVWREZ1FX
	QkJTSE42R2FNQlIxeGVPYmc4U2pVNWU0T3FRYwpUakFNQmdOVkhSTUJBZjhFQWpBQU1B
	NEdBMVVkRHdFQi93UUVBd0lGb0RBZ0JnTlZIU1VCQWY4RUZqQVVCZ2dyCkJnRUZCUWNE
	QVFZSUt3WUJCUVVIQXdJd0VBWUtLb1pJaHZkalpBWUtBZ1FDQlFBd0RRWUpLb1pJaHZj
	TkFRRUYKQlFBRGdZRUE1QlI3aktnNFlBUm1GM3ZXVWR1NWRnTnhjd1RoU0hiYU9PNmdQ
	M25IeWhNU1B1NnIwYmxDcE0vdwpVZkNZZWZVV1Q0WFBXVXZwU2tsaW5QR1JiN01nSG5E
	WDJRVEM3REFYTTJiOHJiK2E5bTRYQkFFcmZyUVRlbkJJClFWdjI0ajRQSHdpNUd6L0I5
	QWJ6ZXEyTEw1blMvdmNKMDJ6VzJoUHhqb1lNQjVaU2UrYz0KLS0tLS1FTkQgQ0VSVElG
	SUNBVEUtLS0tLQo=
	</data>
	<key>DeviceConfigurationFlags</key>
	<string>0</string>
	<key>FairPlayKeyData</key>
	<data>
	LS0tLS1CRUdJTiBDT05UQUlORVItLS0tLQpBQUVBQVhFd2hUY0F4d0Z3YUltbGtrSVUv
	RVVoTHcyYllxeEZBSENCKzV5dzdiTENMMGYyRER1ZEpGWUJLWW1KCkszd2hwWjNFSlJE
	QmFHb0NwclRPc05DMThJMEFZUlBXUWVlM0pKZ3A4aTZvVDFvaDk0dmdxaDhhTEhGL2k3
	aWEKSjFyT1J3OGp0QVpSLzR2clp5QXBObXlXSDdIT3RROThDK3RoV0dOT2tuYlZ5R3Qv
	SjN4VEYxM2Y1cHFJRHQzRwp1Nnhmbk4xR2xvamwyK3JHNTJGdVVWYWFIcEw0NVBWMURV
	dDIwN1BicGpmdkR0TXRhc1p0eUZXSjJROUlwSS80ClRzMlNqbXRNQ052U29FUjVUdWZ2
	WmF5cHF3RXE1RDJlN2xmYmpMZ01WcEZhVjlKY2dBai9GZmh6Qi9pRnRkd1YKK21ZbUln
	d1BBTHl6cUlSU0c1Vk9xUDBnUU5PZTJYTEdEMXJ4aW5Ba0F5V0Zvai83cWpVbWswY3pC
	dk85amJQKwpRZVJ2WDE2R0M5STFiWU5ta1NER203TXVlaVNQUkpSTTllSDQzSjREWUps
	aTIzTXJiLzNpdXdVUyt1WjNFNGsrCkxWM2x0MC9qeUZLM3dDbHdLQWVRM0srMmJuUzUx
	bWtWbVFDa2Q3MUNQZmtFampsRjh6UVh6d2s2dEQ1d1l6SS8KMEowNEZRUHpxNEc3K1cr
	TEFHWUZJYUVIdlU0Y0ZnOUdTdVZ5cGplemQzdUY1dk1wOEJNbmRoZlEyKzQ0UE9pZQpW
	dGgvZnhUZ3IycG8zblFrMk00K2MyM0lLSkJEVTMyOXZhMXpTQ3dQT2xaRXhBcFFwb1k3
	SGIxZE1GQnUvWWNOCjlWSXEvY29IUkZaRVc2ZCtJYmdLbVVva2VRazZ1UEJ4bHBUM0NK
	ZStYVVNIQ3hoQmFibEJ4ekVPTXg0RC9tRXAKZmxpQnZwbi81TkIxTjFnbWQ0NWt0Qmpq
	N0o5SjNzSE5Bd2NPNzg1andWVXZubURqRXkrdmtNSHJtYzZWRDRGZgpBTWJqQ2ZVb2lU
	MHJPWk5OOTlyM2htL1U2MUFncmhpT3k1Nkx6aWczdTZUNElwamN6b3ZKTFoweURDcjZG
	RlJiCkRhZi9WME9jdzJaS0lhWC9pRVVpOUNWR2dQcmhlaVIvSktpTHhXUXdUYjQ3V1M5
	WkJDaUdmRmE2YnEreTR2dUIKSlBSUk5TYUNXQXIwOTRwWVNWOGlvUmZXb0Z5M3oxUHkx
	TTBsVDhTZTV5R0IvL0toUCtGOWNrZEYxSnZ6bFNRaQo0QytTOXRmU0NhcGNIUHlWVmNp
	VngyR013R3hBZzFhT2lpbzl6ZkNVSGRrRmRRc1JaU0taZHZDTlRtS0xxNldHCml4aGVJ
	OEpUakEvQkFzU01oNVl6cTRsSGZ1eFdmd0IrTzMvby9FUzJKQStYVG5wRDJ5R1RKOEN2
	Smh3OFp4dEoKSDJ2Rm05VjFnUld2eFB3Y09WRzQrc1RXTTVCUWlWK3FLMWJiUjNQUVIv
	TXJyUElIWkVLdGJBc1RGWEdkM1JPNwp6TGVxMWd6Tjl1NE41VzN3R3Zpd1FiTWlHanU5
	eExGMG5zQ1k2M0VWU3lsNGZaNkhyK0VNZkxTb1dwNnNyOURzCm1yWkxwZ2FmbFk0dHNV
	TjdGdUthNjlFYjlOcUs2ZkU3a2RLaVJvbHNDT2pzZllqUjdZTUlYbXdNQy95RU9nY0wK
	UzAycWpEUWpsMEZURVFYQ0svaTgwVlpYM253bEVzelE4SVNzcE4rdXlFUzYyb2h3VnQx
	bW50Y0pYRGZYd21MRgpTRTU5RE85aTJkZ1d4YVVwN0NqY1MrK2lWWEwrZEJwTG1xTGQ1
	bm9FcFdZU2ZmNTZzK1ViMGRORzh0T2RpS3NDCmo0S25wY2hKWVgxZVpiL09Oa0c1YlJx
	NGorcmtoRFU1RldxZS9aakJudnpGRG5teEdUcFk2UVR2S3RoYzlTSHoKRVdmejZsOUU0
	bU9sRVhHLzdrd2h3ZERmalZWVmhGR052ZUV2QVRXcmI4M0dlVVpkCi0tLS0tRU5EIENP
	TlRBSU5FUi0tLS0tCg==
	</data>
	<key>unbrick</key>
	<true/>
</dict>
</plist>
