<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountToken</key>
	<data>
	ewoJIkludGVybmF0aW9uYWxNb2JpbGVFcXVpcG1lbnRJZGVudGl0eSIgPSAiMzUyMDI3
	MDYwODc3MTUzIjsKCSJNb2JpbGVFcXVpcG1lbnRJZGVudGlmaWVyIiA9ICIzNTIwMjcw
	NjA4NzcxNSI7CgkiU2VyaWFsTnVtYmVyIiA9ICJGOTdQNDAwVEZGRE4iOwoJIkludGVy
	bmF0aW9uYWxNb2JpbGVTdWJzY3JpYmVySWRlbnRpdHkiID0gIiI7CgkiUHJvZHVjdFR5
	cGUiID0gImlQaG9uZTYsMSI7CgkiVW5pcXVlRGV2aWNlSUQiID0gImU2MzYwZTk4M2Fj
	YmZmNGRkZGFlZjc4ZDI2NzY5YzJhZWEzYWZhOTAiOwoJIkFjdGl2YXRpb25SYW5kb21u
	ZXNzIiA9ICIyODcwOUM0Ri1BODkxLTRGMzMtQjA5Qy0zMDQ3REFDODhDQTEiOwoJIkFj
	dGl2aXR5VVJMIiA9ICJodHRwczovL2FsYmVydC5hcHBsZS5jb20vZGV2aWNlc2Vydmlj
	ZXMvYWN0aXZpdHkiOwoJIkludGVncmF0ZWRDaXJjdWl0Q2FyZElkZW50aXR5IiA9ICIi
	OwoJIkNlcnRpZmljYXRlVVJMIiA9ICJodHRwczovL2FsYmVydC5hcHBsZS5jb20vZGV2
	aWNlc2VydmljZXMvY2VydGlmeU1lIjsKCSJQaG9uZU51bWJlck5vdGlmaWNhdGlvblVS
	TCIgPSAiaHR0cHM6Ly9hbGJlcnQuYXBwbGUuY29tL2RldmljZXNlcnZpY2VzL3Bob25l
	SG9tZSI7CgkiV2lsZGNhcmRUaWNrZXQiID0gIk1JSUJsUUlCQVRBTEJna3Foa2lHOXcw
	QkFRVXhZSjhCQ3NyWmV1ZlFBVGhJRzhBbjBzVWZGenpVbWZEMUFDNzdBOUxkSEQrMmZU
	elFycWZoMjBIQVRseUFCS1dacCtYUFF3QUFBQUE3dTd1N3U3dTd1K2ZsejRFQUFBQUFK
	K1hQd1FCQUFBQW41ZEFCQUVBQUFDZmwwd0VBQUFBQUFTQmdES0xUdllFZ242d3dJbUs3
	NHlIanNhT21iS3BPd3pLK3pNKzdJcTB1L2o2MDEveWVVcXJvTzAzNTJ2OE5wRUE4NHlX
	aXZUWlNzbFVQcHA4cm92Rnd2Q2lRN2tzdy8rNkdLK2FYY29jT3pGbk81QnVnYWovdk5v
	NVBrQjRrVW5lTWs5WFgwVzBuaXVSVkpkVkovYkhad2tjbXJGN2h0eXlhd1I5amQ0bjRY
	Q2FvNEdkTUFzR0NTcUdTSWIzRFFFQkFRT0JqUUF3Z1lrQ2dZRUE3VG8vWk5Ib0lKekJV
	Z1kwNzM0dnNnbCtBQ3hEUStmNHF1dm1TclBBdGdERU5TWndhVnJIWHBGK2NSS0JBQnFr
	RGEwMFljRU54MmR0UzF0dUhMS0RObjF6TVpMYVpScGlLOVVlaU1QTlpMNm1sZzEyQldM
	d1ZqbEZPR0VEOFU2cGZYd093NkQvRkNEUmd2eUdCbjd3c3c4c0VhN0FkbFltTUhHbWt2
	d2dPUDBDQXdFQUFRPT0iOwp9
	</data>
	<key>AccountTokenCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN4VENDQWEwQ0FoQUdNQTBHQ1Nx
	R1NJYjNEUUVCQlFVQU1Ia3hMVEFyQmdOVkJBTU1KRUZ3Y0d4bElHbFEKYUc5dVpTQkRa
	WEowYVdacFkyRjBhVzl1SUVGMWRHaHZjbWwwZVRFTE1Ba0dBMVVFQmhNQ1ZWTXhFekFS
	QmdOVgpCQW9NQ2tGd2NHeGxJRWx1WXk0eEpqQWtCZ05WQkFzTUhVRndjR3hsSUVObGNu
	UnBabWxqWVhScGIyNGdRWFYwCmFHOXlhWFI1TUI0WERUQTNNRFF4TmpJeU5UVXpNRm9Y
	RFRFME1EUXhOakl5TlRVek1Gb3dXekVnTUI0R0ExVUUKQXd3WFFYQndiR1VnYVZCb2Iy
	NWxJRUZqZEdsMllYUnBiMjR4Q3pBSkJnTlZCQVlUQWxWVE1STXdFUVlEVlFRSwpEQXBC
	Y0hCc1pTQkpibU11TVJVd0V3WURWUVFMREF4QmNIQnNaU0JwVUdodmJtVXdnWjh3RFFZ
	SktvWklodmNOCkFRRUJCUUFEZ1kwQU1JR0pBb0dCQUswTEY5ZUg5dFVtOTk5czBTRURp
	RVI3QlhsbVF5amFnaUxnbE1PWVEvb3YKaUJsZldPeWpRU2piVkszUHVLZTBRU1VjOFVO
	d2dneXgxWG5tUWdwQVRSQU9RU0dtbWlRTFZRN2NQVFhEQURnOAp4TldTYmpob2JVNUt0
	T20xZWtDVVhDRk1ITy9yekd4SjZVQXRsT0hOTEh2cHNDZ3grZnVEVG42NUxBYzhCeVB6
	CkFnTUJBQUV3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUVVZ0FWaG9QN0UxZElNY1ox
	alJoTEM5bTVMZUM2YlcKVkRKTjRoMjI3dTdtY1NsVmd2c2tJb0VGOWRlK1IwMHMwZGdH
	R0szMmNvSk13WWkxMTQ1aXVucWMvV1FtZjZmNwpneDdSTmZoYjh5ZHVQV1ZOTGhKRm4v
	eTczRmlLZHE4V2RvdjJEYXlobVRwZUtVMjd0UzNiOFRtTHpjTXBUNUJGCkhMTTVEc1Rr
	QVc1bmFSZlRvUU85N2ZwbGx3azh5ajVsYU9GNnN4QjlKRTB6NytKWWdMSndDenRTS2RL
	K3dXMm4KZFhjemhIMFRySDBWZEJVVnpqSGR4YnpUa0FCWXFRRGdYRlV2dndUMUxDeFF6
	cmhuMUxSVkF1c0RtRGxXRVJkYgphaHdlRmRhY2dQSVJzelBDd2xTbGgvd0lnZ2RqdVRq
	YUR1Y2srcWhGemNacHc3Z0FiQytwaHZvPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0t
	</data>
	<key>AccountTokenSignature</key>
	<data>
	FeDqIlNLcn5NYOnXDHcMhQ5hcPS1p6Be6x4bUTv18aZCdo4zsQzk7ucH2jdS0sa0Ro5d
	YjVLL7RI7adZOrW4qPh/C2yPhM99IYzdJkpHBJ6OTEFU3QtSDAXW0pOYemPal/kCEc7z
	ycm5q3Jrz0emhuezr7K//BoxX4e9P+9LNk8=
	</data>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4akNDQWx1Z0F3SUJBZ0lKVTlE
	eVdEQUlrV0pjTUEwR0NTcUdTSWIzRFFFQkJRVUFNRm94Q3pBSkJnTlYKQkFZVEFsVlRN
	Uk13RVFZRFZRUUtFd3BCY0hCc1pTQkpibU11TVJVd0V3WURWUVFMRXd4QmNIQnNaU0Jw
	VUdodgpibVV4SHpBZEJnTlZCQU1URmtGd2NHeGxJR2xRYUc5dVpTQkVaWFpwWTJVZ1Ew
	RXdIaGNOTWpBd016STVNRGd6Ck9UVXpXaGNOTWpNd016STVNRGd6T1RVeldqQ0JnekV0
	TUNzR0ExVUVBeFlrUVRnelJFUkROakV0TUVFME5DMDAKUkRNeExVRXlSREl0TmtaRE5V
	SXlPVGhCUWtRMU1Rc3dDUVlEVlFRR0V3SlZVekVMTUFrR0ExVUVDQk1DUTBFeApFakFR
	QmdOVkJBY1RDVU4xY0dWeWRHbHViekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpF
	UE1BMEdBMVVFCkN4TUdhVkJvYjI1bE1JR2ZNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0R05B
	RENCaVFLQmdRRG5sbS96RitETUhQMUQKOEt3VlFKYkVYajhTU0NjWnhSREsrU1NSdytl
	UnVramd5VGZBd3pqa0poVjJ0YVNWbWdnVDVKWUVBWUdlaXFCcQovajdTV1lWL0ZVK3oz
	c3lEQTRhMlBMRjdSNFZyVXluOW9xRzg5ajdRS2pON2hpZnp3Y1lFWmhlWmV3bzZoTkVO
	ClRsVFlFK2RGZDVhOXgwbHhSQjFELzVXcnJtSGxaUUlEQVFBQm80R1ZNSUdTTUI4R0Ex
	VWRJd1FZTUJhQUZMTCsKSVNORWhwVnFlZFdCSm81ekVOaW5USTUwTUIwR0ExVWREZ1FX
	QkJTSE42R2FNQlIxeGVPYmc4U2pVNWU0T3FRYwpUakFNQmdOVkhSTUJBZjhFQWpBQU1B
	NEdBMVVkRHdFQi93UUVBd0lGb0RBZ0JnTlZIU1VCQWY4RUZqQVVCZ2dyCkJnRUZCUWNE
	QVFZSUt3WUJCUVVIQXdJd0VBWUtLb1pJaHZkalpBWUtBZ1FDQlFBd0RRWUpLb1pJaHZj
	TkFRRUYKQlFBRGdZRUE1QlI3aktnNFlBUm1GM3ZXVWR1NWRnTnhjd1RoU0hiYU9PNmdQ
	M25IeWhNU1B1NnIwYmxDcE0vdwpVZkNZZWZVV1Q0WFBXVXZwU2tsaW5QR1JiN01nSG5E
	WDJRVEM3REFYTTJiOHJiK2E5bTRYQkFFcmZyUVRlbkJJClFWdjI0ajRQSHdpNUd6L0I5
	QWJ6ZXEyTEw1blMvdmNKMDJ6VzJoUHhqb1lNQjVaU2UrYz0KLS0tLS1FTkQgQ0VSVElG
	SUNBVEUtLS0tLQo=
	</data>
	<key>DeviceConfigurationFlags</key>
	<string>0</string>
	<key>FairPlayKeyData</key>
	<data>
	LS0tLS1CRUdJTiBDT05UQUlORVItLS0tLQpBQUVBQVJ3TTRJblhCaHcyOE8zZWVOVHZP
	dUdkRWpEK04wMmFpZDNvMk9TOFhGa1ZGVXdaSm4xWUhtOUlGV3pECkw5c004K3lHTE9B
	aUd1SndrTStZTlNleGxucVpOcnJVdStDVWFJVWs5ODhna3ZROVViakgrU2hOdDBzWVhk
	VnQKUlNSZ255dVh6TWVHYWFzZ2xRTVNFeGlHblVWa0hqOFlJOHVyd1FNbk5rcXhIWmVO
	Ti9TS2ZRQVIxMmI2cW1nZQpzM0JiQ2pxVmlLMzhleHVRcWl6RVYyTHFtcGpsV1FLQjdq
	VGdLck1ILzFHZ1FaWU02VVluMlhMY0NnN2FpNGxKCmFUWmhIUjZud0MzWTBzNEtneVZw
	ZzBwd0xHdkpwSXJVcThyeHdRSXZMQUFXWk5NbDV2emZRdzFEOUtOTzIwQjEKZTc1TzVk
	VVpQejk0UlJnZU9xeU1FWDFSMVBubmxMTVlaU2xRMW5vSkJNVDhhRCtWbmtnTUdHdWNz
	ejUwZTN5OApRYkVDQVZrMnBFQ1RObGdKUnVWbjNsd3lhTVZ4ZnlOTTZpeTg3ZlBNM2JG
	T1hzNDRLV2pZQStkWmgwTzRvQm5sCmR0dnZldmgwQUQvT1A4U3NDd2JrRUVpay85UUds
	ZEl3bzlUMStyRStYc3p6TzVKZTRScjRuc2FCalNqVlNabm8KZTNzZ0VTS3lCYWJJRDJx
	ZTZ6dVpWaFowNmNEYUhzTlNSMUtPeHp6M0JJb1gybGFqdnFvWGNaNlllYVJWY3RRZApP
	TmpTdFU5TW01bzRhcSt6MjFNNTRFcDRZWEcraDNNTVcxR2UwcURvTGpTaWZ2RXRLcG82
	Yk5icm1SVFphb2FQCnkwRUtGS1dLeHVubDAzUHRSdDZGZzA2RTl1TGNtblFyUTlPZzJR
	T29oZWp0TkRhQm5JZ05RdFhhTlhpSTVVakMKd0c1b0NEL05leDRVMndOWWFsc3U1bU1U
	WWVPdTV5V09EQnZKRHZkSERmZWNBM0lIaHVFUmwzbU9GeENLR29obQpLWTJmcTR2cHQz
	OXUwWldma1cxMDJPaVllMDJ3U2xlVGJXSVBpcDRTZU5MK0pWNkRRc29HaFRqRmh5Zjlu
	MHlECkEyN2hQb0NDT21SSHBxMFJSdzAxUmFQN0pxMW50ZEdnMUJYanZ2RWJNWkNzTXFk
	bDNGVTNvMWk5V0t1YlFFRDEKNU5lRThFTk5Qdi8ybk9peTg1Myt6TkZqbDEzWEt2Q2J1
	N0NUNmMyTjZlbDhOeVRyOWw2akdWWTUrdFYyNzdUNAprTGwzUEMvOFA0a2dVRnBWVWox
	eVhHVndvT05EVTdPcE51Z1ppZjBWcDNsbE13cWhaOVQrbzNOUThZbkp4VnhVCmNRQkNQ
	aHNtUm5Ecm5BbWVCWFpqYU41dGZzcUpnMzhpMkxINTJTQ0JvL09rSERNUlhzWGs4WVl5
	QWZ6a0c5aS8Kb01JZnNZNHBNcmF6c3U5a1hSMStjdFFXU2Y3NkI0d3l4Z2ZvTFRnbUEy
	cURmQ0p2NVNLeGR4YktCL2V1Smo3cwptaC9WTW44TnN5dUsrNW1wRWZocDcrR2ttcXI2
	RHRtOWQ2QWRKSTk3NXlQelVtWHZUTW40SHB4dlZDWnRYRVdGCkU1YVlZL0RJbEhxUUQx
	V0kxRmZIV00venoweCtFdkZ2eU9zbUVqMFpLYmRKR0FRU0ZybnNta1BYT1R1M3g3cnYK
	MVRKL3NUKzhTa0JRNlVyV0trSWV4V0hBMTJPK0tqSkRLRGxQVlBsRkFrMkMya045UDRn
	dlJxRUMrd2I3THdvTgp0RG1DaUtPenduVnp4WEtWNURvMmxvMjVteVVDaVZ4bUc3YUhW
	WWYydTNGV0ttNFBZbmVLL1RGVWZFVVlSUS9vCkJBNlg1b0JUa0tEc00zcVBPMGtnWURW
	dy9RVXJPSWlkcy9VUm8rRllMOGdZSDlGRHlQV3pQWnM5TU1DRDVaYnIKUjY1QnNubmhs
	VmFsMk54M0syZFp0N2hGbGxxeENaV2dKSjRCRFdLdXhpZGMvamhKCi0tLS0tRU5EIENP
	TlRBSU5FUi0tLS0tCg==
	</data>
	<key>unbrick</key>
	<true/>
</dict>
</plist>
